<div class="box">
    <div class="questionBox">
        <h1><%= questionData.tit %></h1>
        <h2>- <%= questionData.u.nn %></h2>
        <h5><%= questionTime.ago %> | <%= questionTime.time %></h5>
    </div>
    <div class="responseBox">
        <h1><%= resData.r %></h1>
        <h2>- <%= resData.u.nn %></h2>
        <h5><%= responseTime.ago %> | <%= responseTime.time %></h5>
    </div>
</div>

<style>
    .box {
        margin: auto;
        width: 500px;
        padding: 50px;
        border: 5px solid #ccc;
        border-radius: 5px;
        background-color: #f2f2f2;
    }
    .box .questionBox {
        size: 1px;
        color: #18191A;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: gray;
        width: auto;
    }
    .box .responseBox {
        size: 1px;
        color: #18191A;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: gray;
        width: auto;
    }
    body {
        background-color: #18191A;
    }
</style>