<div class="box">
    <% if (suspended === true) { %>
        <div class="suspended">
            <div class="suspended-red" style="background-color: red; border-radius: 10px; padding: 5px; margin:5px;">
                <h3 class="text-center text-light">Suspended</h3>
            </div>
            <p class="text-center text-dark">This question is suspended for violating Ignotum Rules. Waiting for admin action.</p>
        </div>
    <% } %>
    <div class="questionBox">
        <h1><%= questionData.tit %></h1>
        <h2>- <%= questionData.u.nn %></h2>
        <h5><%= questionTime.ago %> | <%= questionTime.time %></h5>
    </div>
    <div class="responseBox">
        <h1><%= resData.r %></h1>
        <h2>- <%= resData.u.nn %></h2>
        <h5><%= responseTime.ago %> | <%= responseTime.time %></h5>
    </div>
    <h5>Do not mark as done if you want to report this response!</h5>
    <div class="action-box">
        <a href="/questions/<%= questionData.id %>/<%= resData.id %>?action=markasdone" class="btn btn-primary">Mark as done</a>
    </div>
</div>

<style>
    .box {
        margin: auto;
        width: 500px;
        padding: 50px;
        border: 5px solid #ccc;
        border-radius: 5px;
        background-color: #f2f2f2;
    }
    .box .questionBox {
        size: 1px;
        color: #18191A;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: gray;
        width: auto;
    }
    .box .responseBox {
        size: 1px;
        color: #18191A;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: gray;
        width: auto;
    }
    body {
        background-color: #18191A;
    }
</style>